<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.account.mapper.AccountInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.account.entity.AccountInfo">
        <id column="account_id" property="accountId" />
        <result column="app_id" property="appId" />
        <result column="account" property="account" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="qq" property="qq" />
        <result column="password" property="password" />
        <result column="account_status" property="accountStatus" />
        <result column="registration_time" property="registrationTime" />
        <result column="expire_time" property="expireTime" />
        <result column="account_point" property="accountPoint" />
        <result column="surplus_point" property="surplusPoint" />
        <result column="referrer" property="referrer" />
        <result column="referrer_code" property="referrerCode" />
        <result column="account_data" property="accountData" />
        <result column="account_token" property="accountToken" />
        <result column="account_bind_type" property="accountBindType" />
        <result column="account_bind_num" property="accountBindNum" />
        <result column="account_open_range" property="accountOpenRange" />
        <result column="account_open_num" property="accountOpenNum" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        account_id AS "accountId", app_id AS "appId", account AS "account", email AS "email", phone AS "phone", qq AS "qq", password AS "password", account_status AS "accountStatus", registration_time AS "registrationTime", expire_time AS "expireTime", account_point AS "accountPoint", surplus_point AS "surplusPoint", referrer AS "referrer", referrer_code AS "referrerCode", account_data AS "accountData", account_token AS "accountToken", account_bind_type AS "accountBindType", account_bind_num AS "accountBindNum", account_open_range AS "accountOpenRange", account_open_num AS "accountOpenNum", remark AS "remark", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime"
    </sql>

</mapper>
