<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.remote.mapper.RemoteDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.remote.entity.RemoteData">
        <id column="data_id" property="dataId" />
        <result column="app_id" property="appId" />
        <result column="data_code" property="dataCode" />
        <result column="data_value" property="dataValue" />
        <result column="data_value_text" property="dataValueText" />
        <result column="create_type" property="createType" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ai.app_name AS appName,
        rd.data_id AS "dataId",
        rd.app_id AS "appId",
        rd.data_code AS "dataCode",
        rd.data_value AS "dataValue",
        rd.data_value_text AS "dataValueText",
        rd.create_type AS "createType",
        rd.create_user AS "createUser",
        rd.create_time AS "createTime",
        rd.update_user AS "updateUser",
        rd.update_time AS "updateTime"
    </sql>
    <select id="findListBySpec" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ag_remote_data rd
        left join ag_app_info ai on ai.app_id = rd.app_id
        <where>
            <if test="param.createUser != null and param.createUser != ''">
                and rd.create_user = #{param.createUser}
            </if>
            <if test="param.appId != null and param.appId !=''">
                and rd.app_id = #{param.appId}
            </if>
            <if test="param.createType != null and param.createType !=''">
                and rd.create_type = #{param.createType}
            </if>
        </where>
        order by rd.create_time DESC
    </select>

</mapper>
