<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.remote.mapper.RemoteDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.remote.entity.RemoteData">
        <id column="data_id" property="dataId" />
        <result column="app_id" property="appId" />
        <result column="data_code" property="dataCode" />
        <result column="data_value" property="dataValue" />
        <result column="create_type" property="createType" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        data_id AS "dataId", app_id AS "appId", data_code AS "dataCode", data_value AS "dataValue", create_type AS "createType", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime"
    </sql>

</mapper>
