<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.agent.mapper.AgentCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.agent.entity.AgentCard">
        <id column="agent_card_id" property="agentCardId" />
        <result column="agent_app_id" property="agentAppId" />
        <result column="app_id" property="appId" />
        <result column="card_type_id" property="cardTypeId" />
        <result column="card_type_name" property="cardTypeName" />
        <result column="card_type" property="cardType" />
        <result column="market_price" property="marketPrice" />
        <result column="agent_price" property="agentPrice" />
        <result column="level_agent_price" property="levelAgentPrice" />
        <result column="revision" property="revision" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ai.app_name AS "appName",
        ac.agent_card_id AS "agentCardId",
        ac.agent_app_id AS "agentAppId",
        ac.app_id AS "appId",
        ac.card_type_id AS "cardTypeId",
        ac.card_type_name AS "cardTypeName",
        ac.card_type AS "cardType",
        ac.market_price AS "marketPrice",
        ac.agent_price AS "agentPrice",
        ac.level_agent_price AS "levelAgentPrice",
        ac.revision AS "revision",
        ac.create_user AS "createUser",
        ac.create_time AS "createTime",
        ac.update_user AS "updateUser",
        ac.update_time AS "updateTime"
    </sql>
    <select id="findCodeCardTypeListBySpec" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ag_agent_card ac
        left join ag_app_info ai on ai.app_id = ac.app_id
        left join ag_code_card_type cct on cct.card_type_id = ac.card_type_id
        <where>
            <if test="param.cardType != null">
                and ac.card_type = #{param.cardType}
            </if>
            <if test="param.cardTypeId != null and param.cardTypeId !=''">
                and ac.app_id = #{param.appId}
            </if>
            <if test="param.agentAppId != null and param.agentAppId !=''">
                and ac.agent_app_id = #{param.agentAppId}
            </if>
        </where>
        order by cct.sort ASC
    </select>

    <select id="findAccountCardTypeListBySpec" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ag_agent_card ac
        left join ag_app_info ai on ai.app_id = ac.app_id
        left join ag_account_card_type act on act.account_card_type_id = ac.card_type_id
        <where>
            <if test="param.cardType != null">
                and ac.card_type = #{param.cardType}
            </if>
            <if test="param.cardTypeId != null and param.cardTypeId !=''">
                and ac.app_id = #{param.appId}
            </if>
            <if test="param.agentAppId != null and param.agentAppId !=''">
                and ac.agent_app_id = #{param.agentAppId}
            </if>
        </where>
        order by act.sort ASC
    </select>
    <select id="selectCardTypeByAppIdAndAgentAppId"
            resultType="cn.stylefeng.guns.modular.agent.model.result.AgentCardResult">
        select * from
        ag_agent_card
        where
        agent_app_id = #{agentAppId}
        AND app_id = #{appId}
        AND card_type = #{cardType}
        AND market_price IS NOT NULL AND agent_price IS NOT NULL
    </select>

    <select id="getSuperiorCardTypeByAgentAppIdAndCardType"
            resultType="cn.stylefeng.guns.modular.agent.model.result.AgentCardResult">
    SELECT
	aac.*
    FROM
	ag_agent_app paa
    LEFT JOIN ag_agent_card aac ON paa.agent_app_id = aac.agent_app_id
    LEFT JOIN ag_agent_app aaa ON aaa.agent_app_id_pid = paa.agent_app_id
    WHERE
	aaa.agent_app_id = #{agentAppId}
    AND aac.card_type = #{cardType}
    </select>

    <select id="getCardTypeByAgentAppIdAndCardType"
            resultType="cn.stylefeng.guns.modular.agent.model.result.AgentCardResult">
    SELECT
	aac.*
    FROM
	ag_agent_card aac
    WHERE
	aac.agent_app_id = #{agentAppId}
    AND aac.card_type = #{cardType}
    </select>

</mapper>
