<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.agent.mapper.AgentPowerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.agent.entity.AgentPower">
        <id column="agent_power_id" property="agentPowerId" />
        <result column="agent_app_id" property="agentAppId" />
        <result column="app_id" property="appId" />
        <result column="card_create" property="cardCreate" />
        <result column="card_disable" property="cardDisable" />
        <result column="card_look" property="cardLook" />
        <result column="card_data" property="cardData" />
        <result column="card_time" property="cardTime" />
        <result column="card_delete" property="cardDelete" />
        <result column="account_create" property="accountCreate" />
        <result column="account_disable" property="accountDisable" />
        <result column="account_edit_password" property="accountEditPassword" />
        <result column="account_delete" property="accountDelete" />
        <result column="account_time" property="accountTime" />
        <result column="account_data" property="accountData" />
        <result column="account_query" property="accountQuery" />
        <result column="revision" property="revision" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        agent_power_id AS "agentPowerId", agent_app_id AS "agentAppId", app_id AS "appId", card_create AS "cardCreate", card_disable AS "cardDisable", card_look AS "cardLook", card_data AS "cardData", card_time AS "cardTime", card_delete AS "cardDelete", account_create AS "accountCreate", account_disable AS "accountDisable", account_edit_password AS "accountEditPassword", account_delete AS "accountDelete", account_time AS "accountTime", account_data AS "accountData", account_query AS "accountQuery", revision AS "revision", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime"
    </sql>
    <select id="getSubordinateAgentPowerShow"
            resultType="cn.stylefeng.guns.modular.agent.model.result.AgentPowerResult">
    SELECT
	aap.*
    FROM
	ag_agent_app paa
    LEFT JOIN ag_agent_power aap ON paa.agent_app_id = aap.agent_app_id
    LEFT JOIN ag_agent_app aaa ON aaa.agent_app_id_pid = paa.agent_app_id
    WHERE aaa.agent_app_id = #{agentAppId}
    </select>
    <select id="getSubordinateAgentPowerByAgentAppId"
            resultType="cn.stylefeng.guns.modular.agent.model.result.AgentPowerResult">
    SELECT
	aap.*
    FROM
	ag_agent_power aap
    LEFT JOIN ag_agent_app aaa ON aaa.agent_app_id = aap.agent_app_id
    WHERE
	aaa.agent_app_id != #{agentAppId}
    AND aaa.agent_app_id_pids LIKE CONCAT('%$[', #{agentAppId}, '$]%') ESCAPE '$'
    </select>

</mapper>
