<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.agent.mapper.AgentAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.agent.entity.AgentApp">
        <id column="agent_app_id" property="agentAppId" />
        <result column="agent_app_id_pid" property="agentAppIdPid" />
        <result column="agent_app_id_pids" property="agentAppIdPids" />
        <result column="agent_app_no" property="agentAppNo" />
        <result column="agent_app_quick" property="agentAppQuick" />
        <result column="app_id" property="appId" />
        <result column="developer_user_id" property="developerUserId" />
        <result column="agent_user_id" property="agentUserId" />
        <result column="rose" property="rose" />
        <result column="agent_grade" property="agentGrade" />
        <result column="pid" property="pid" />
        <result column="pids" property="pids" />
        <result column="balance" property="balance" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ai.app_name AS "appName",
        ap.agent_power_id AS "agentPowerId",
        aa.agent_app_id AS "agentAppId",
        aa.agent_app_id_pid AS "agentAppIdPid",
        aa.agent_app_id_pids AS "agentAppIdPids",
        aa.agent_app_no AS "agentAppNo",
        aa.agent_app_quick AS "agentAppQuick",
        aa.app_id AS "appId",
        aa.developer_user_id AS "developerUserId",
        aa.agent_user_id AS "agentUserId",
        aa.rose AS "rose",
        aa.agent_grade AS "agentGrade",
        aa.pid AS "pid",
        aa.pids AS "pids",
        aa.balance AS "balance",
        aa.status AS "status",
        aa.create_user AS "createUser",
        aa.create_time AS "createTime",
        aa.update_user AS "updateUser",
        aa.update_time AS "updateTime"
    </sql>
    <select id="findListBySpec" resultType="cn.stylefeng.guns.modular.agent.model.result.AgentAppResult">
        select
        (SELECT COUNT(aci.serial_id) FROM ag_serial_info aci WHERE
        aci.user_id in (select aaa.agent_user_id from ag_agent_app aaa where aaa.pids like CONCAT('%$[', aa.agent_user_id, '$]%') escape '$' )
        and aci.active_time is null) AS accountNoActiveNum,
        (SELECT COUNT(aci.serial_id) FROM ag_serial_info aci WHERE
        aci.user_id in (select aaa.agent_user_id from ag_agent_app aaa where aaa.pids like CONCAT('%$[', aa.agent_user_id, '$]%') escape '$' )
        and aci.active_time is not null) AS accountActiveNum,
        (SELECT COUNT(aci.serial_id) FROM ag_serial_info aci WHERE
        aci.user_id in (select aaa.agent_user_id from ag_agent_app aaa where aaa.pids like CONCAT('%$[', aa.agent_user_id, '$]%') escape '$' )) AS accountAllNum,
        (SELECT COUNT(aci.card_id) FROM ag_card_info aci WHERE
        aci.user_id in (select aaa.agent_user_id from ag_agent_app aaa where aaa.pids like CONCAT('%$[', aa.agent_user_id, '$]%') escape '$' )
        and aci.active_time is null) AS cardNoActiveNum,
        (SELECT COUNT(aci.card_id) FROM ag_card_info aci WHERE
        aci.user_id in (select aaa.agent_user_id from ag_agent_app aaa where aaa.pids like CONCAT('%$[', aa.agent_user_id, '$]%') escape '$' )
        and aci.active_time is not null) AS cardActiveNum,
        (SELECT COUNT(aci.card_id) FROM ag_card_info aci WHERE
        aci.user_id in (select aaa.agent_user_id from ag_agent_app aaa where aaa.pids like CONCAT('%$[', aa.agent_user_id, '$]%') escape '$' )) AS cardAllNum,
        su.`name` AS agentUserName,
        su.`account` AS agentUserAccount,
        (select `name` from sys_user where user_id = aa.pid) AS pidUserName,
        <include refid="Base_Column_List"/>
        from ag_agent_app aa
        left join ag_agent_power ap on ap.agent_app_id = aa.agent_app_id
        left join ag_app_info ai on ai.app_id = aa.app_id
        left join sys_user su on su.user_id = aa.agent_user_id
        <where>
            <if test="param.createUser != null and param.createUser != ''">
                and aa.create_user = #{param.createUser}
            </if>
            <if test="param.appId != null and param.appId !=''">
                and aa.app_id = #{param.appId}
            </if>
            <if test="param.pid != null and param.pid !=''">
                and aa.pid = #{param.pid}
            </if>
            <if test="param.agentUserId != null and param.agentUserId !=''">
                and aa.agent_user_id = #{param.agentUserId}
            </if>
            <if test="param.agentUserName != null and param.agentUserName !=''">
                and su.`name` like CONCAT('%',#{param.agentUserName},'%')
            </if>
            <if test="param.agentUserAccount != null and param.agentUserAccount !=''">
                and su.`account` like CONCAT('%',#{param.agentUserAccount},'%')
            </if>
            <if test="param.developerUserId != null and param.developerUserId !=''">
                and aa.developer_user_id = #{param.developerUserId}
            </if>
        </where>
        order by aa.create_time DESC
    </select>
    <select id="getDetailById" resultType="cn.stylefeng.guns.modular.agent.model.result.AgentAppResult">
        select
        (select `name` from sys_user where user_id = aa.agent_user_id) AS agentUserName,
        <include refid="Base_Column_List"/>
        from ag_agent_app aa
        left join ag_agent_power ap on ap.agent_app_id = aa.agent_app_id
        left join ag_app_info ai on ai.app_id = aa.app_id
        where aa.agent_app_id = #{agentAppId}
    </select>
    <select id="agentNum" resultType="java.lang.Integer">
        select
        count(agent_app_id)
        from ag_agent_app where developer_user_id = #{userId} and agent_app_id_pid = 0
    </select>
    <select id="getAgentUserByUserId" resultType="cn.stylefeng.guns.sys.modular.system.entity.User">
       SELECT
       su.*
       FROM
       ag_agent_app  aaa
       LEFT JOIN sys_user su ON su.user_id = aaa.agent_user_id
       WHERE aaa.pids like CONCAT('%$[', #{userId}, '$]%') escape '$'
    </select>

</mapper>
