<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.agent.mapper.AgentExamineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.agent.entity.AgentExamine">
        <id column="agent_examine_id" property="agentExamineId" />
        <result column="app_id" property="appId" />
        <result column="developer_user_id" property="developerUserId" />
        <result column="agent_user_id" property="agentUserId" />
        <result column="agent_user_name" property="agentUserName" />
        <result column="agent_user_account" property="agentUserAccount" />
        <result column="apply_reason" property="applyReason" />
        <result column="apply_type" property="applyType" />
        <result column="examine_status" property="examineStatus" />
        <result column="examine_time" property="examineTime" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        aae.agent_examine_id AS "agentExamineId",
        aae.app_id AS "appId",
        aae.developer_user_id AS "developerUserId",
        aae.agent_user_id AS "agentUserId",
        aae.agent_user_name AS "agentUserName",
        aae.agent_user_account AS "agentUserAccount",
        aae.apply_reason AS "applyReason",
        aae.apply_type AS "applyType",
        aae.examine_status AS "examineStatus",
        aae.examine_time AS "examineTime",
        aae.create_user AS "createUser",
        aae.create_time AS "createTime",
        aae.update_user AS "updateUser",
        aae.update_time AS "updateTime"
    </sql>
    <select id="findListBySpec" resultType="java.util.Map">
        select
        ai.app_name AS "appName",
        (select `name` from sys_user where user_id = aae.developer_user_id) AS developerUserName,
        (select `name` from sys_user where user_id = aae.agent_user_id) AS agentUserName,
        <include refid="Base_Column_List"/>
        from ag_agent_examine aae
        left join ag_app_info ai on ai.app_id = aae.app_id
        <where>
            <if test="param.examineStatus != null">
                and aae.examine_status = #{param.examineStatus}
            </if>
            <if test="param.applyType != null">
                and aae.apply_type = #{param.applyType}
            </if>
            <if test="param.developerUserId != null and param.developerUserId !=''">
                and aae.developer_user_id = #{param.developerUserId}
            </if>
            <if test="param.agentUserId != null and param.agentUserId !=''">
                and aae.agent_user_id = #{param.agentUserId}
            </if>
            <if test="param.type!= null and param.type == 1">
                and aae.developer_user_id = #{param.createUser}
            </if>
            <if test="param.type!= null and param.type == 2">
                and aae.agent_user_id = #{param.createUser}
            </if>
        </where>
        order by aae.create_time ASC
    </select>

</mapper>
