<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.agent.mapper.AgentBuyCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.agent.entity.AgentBuyCard">
        <id column="agent_buy_card_id" property="agentBuyCardId" />
        <result column="agent_app_id" property="agentAppId" />
        <result column="agent_price" property="agentPrice" />
        <result column="buy_card_type" property="buyCardType" />
        <result column="buy_num" property="buyNum" />
        <result column="batch_no" property="batchNo" />
        <result column="card_type_id" property="cardTypeId" />
        <result column="card_type" property="cardType" />
        <result column="amount" property="amount" />
        <result column="examine_time" property="examineTime" />
        <result column="detailed" property="detailed" />
        <result column="remark" property="remark" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        abc.agent_buy_card_id AS "agentBuyCardId",
        abc.agent_app_id AS "agentAppId",
        abc.agent_price AS "agentPrice",
        abc.buy_card_type AS "buyCardType",
        abc.buy_num AS "buyNum",
        abc.batch_no AS "batchNo",
        abc.card_type_id AS "cardTypeId",
        abc.card_type AS "cardType",
        abc.amount AS "amount",
        abc.examine_time AS "examineTime",
        abc.detailed AS "detailed",
        abc.remark AS "remark",
        abc.create_user AS "createUser",
        abc.create_time AS "createTime",
        abc.update_user AS "updateUser",
        abc.update_time AS "updateTime"
    </sql>
    <select id="findListBySpec" resultType="java.util.Map">
        select
        ai.app_name AS "appName",
        cct.card_type_name AS "cardTypeName",
        (select `name` from sys_user where user_id = aaa.pid) AS pidUserName,
        (select `name` from sys_user where user_id = aaa.developer_user_id) AS developerUserName,
        (select `name` from sys_user where user_id = aaa.agent_user_id) AS agentUserName,
        (select `account` from sys_user where user_id = aaa.agent_user_id) AS agentUserAccount,
        <include refid="Base_Column_List"/>
        from ag_agent_buy_card abc
        left join ag_agent_app aaa on aaa.agent_app_id = abc.agent_app_id
        left join ag_app_info ai on ai.app_id = aaa.app_id
        left join ag_code_card_type cct on cct.card_type_id = abc.card_type_id
        <where>
            <if test="param.developerUserId != null and param.developerUserId !=''">
                and aaa.developer_user_id = #{param.developerUserId}
            </if>
            <if test="param.agentUserId != null and param.agentUserId !=''">
                and aaa.agent_user_id = #{param.agentUserId}
            </if>
            <if test="param.type!= null and param.type == 1">
                and aaa.developer_user_id = #{param.createUser}
            </if>
            <if test="param.type!= null and param.type == 2">
                and aaa.agent_user_id = #{param.createUser}
            </if>
            <if test="param.type!= null and param.type == 3">
                and aaa.agent_user_id = #{param.createUser}
            </if>
        </where>
        order by abc.create_time ASC
    </select>

</mapper>
