<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.apiManage.mapper.ApiResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.ApiResult">
        <id column="api_result_id" property="apiResultId" />
        <result column="app_id" property="appId" />
        <result column="result_type" property="resultType" />
        <result column="result_success" property="resultSuccess" />
        <result column="result_variables" property="resultVariables" />
        <result column="result_code" property="resultCode" />
        <result column="result_data" property="resultData" />
        <result column="custom_result_data" property="customResultData" />
        <result column="result_remark" property="resultRemark" />
        <result column="whether_edit" property="whetherEdit" />
        <result column="output_format" property="outputFormat" />
        <result column="sort" property="sort" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ai.app_name AS "appName",
        aar.api_result_id AS "apiResultId",
        aar.app_id AS "appId",
        aar.result_type AS "resultType",
        aar.result_success AS "resultSuccess",
        aar.result_variables AS "resultVariables",
        aar.result_code AS "resultCode",
        aar.result_data AS "resultData",
        aar.custom_result_data AS "customResultData",
        aar.result_remark AS "resultRemark",
        aar.whether_edit AS "whetherEdit",
        aar.output_format AS "outputFormat",
        aar.sort AS "sort",
        aar.create_user AS "createUser",
        aar.create_time AS "createTime",
        aar.update_user AS "updateUser",
        aar.update_time AS "updateTime"
    </sql>
    <select id="findApiResultApi" resultType="cn.stylefeng.guns.modular.apiManage.model.result.ApiResultApi">
        select * from ag_api_result
        <where>
            <if test="appId != null and appId !=''">
                and app_id = #{appId}
            </if>
            <if test="resultCode != null and resultCode !=''">
                and result_code = #{resultCode}
            </if>
        </where>
    </select>
    <select id="findListBySpec" resultType="java.util.Map">
        select
        (SELECT `name` FROM sys_dict WHERE dict_type_id = (SELECT dict_type_id FROM sys_dict_type WHERE `code` = 'result_type'
        ) AND `code` = aar.result_type) AS resultTypeName,
        <include refid="Base_Column_List"/>
        from ag_api_result aar
        left join ag_app_info ai on ai.app_id = aar.app_id
        <where>
            <if test="param.appId != null and param.appId !='' and param.type ==1">
                and aar.app_id = #{param.appId}
            </if>
            <if test="param.type != null and param.type ==0">
                and aar.app_id = 1
            </if>
            <if test="param.type != null and param.type ==1 and param.appId == null">
                and aar.create_user = #{param.createUser}
            </if>
        </where>
        order by aar.sort ASC
    </select>

</mapper>
