<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.app.mapper.AppExceptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.app.entity.AppException">
        <id column="exception_id" property="exceptionId" />
        <result column="app_id" property="appId" />
        <result column="title" property="title" />
        <result column="context" property="context" />
        <result column="edition" property="edition" />
        <result column="model" property="model" />
        <result column="mac" property="mac" />
        <result column="exception_num" property="exceptionNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        aae.exception_id AS "exceptionId",
        aae.app_id AS "appId",
        aae.title AS "title",
        aae.context AS "context",
        aae.edition AS "edition",
        aae.model AS "model",
        aae.mac AS "mac",
        aae.exception_num AS "exceptionNum",
        aae.create_time AS "createTime",
        aae.update_time AS "updateTime",
        aae.create_user AS "createUser"
    </sql>

    <select id="findListPage" resultType="cn.stylefeng.guns.modular.app.model.result.AppExceptionResult">
        select
        ai.app_name AS "appName",
        <include refid="Base_Column_List"/>
        from ag_app_exception aae
        LEFT JOIN ag_app_info ai ON ai.app_id = aae.app_id
        <where>
            <if test="param.createUser != null and param.createUser !=''">
                and aae.create_user = #{param.createUser}
            </if>
            <if test="param.appId != null and param.appId !=''">
                and aae.app_id = #{param.appId}
            </if>
            <if test="param.edition != null and param.edition !=''">
                and aae.edition = #{param.edition}
            </if>
        </where>
    </select>

</mapper>
