<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.device.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.device.entity.Device">
        <id column="device_id" property="deviceId" />
        <result column="app_id" property="appId" />
        <result column="card_or_user_id" property="cardOrUserId" />
        <result column="card_or_user_code" property="cardOrUserCode" />
        <result column="card_type" property="cardType" />
        <result column="mac" property="mac" />
        <result column="ip" property="ip" />
        <result column="model" property="model" />
        <result column="ip_address" property="ipAddress" />
        <result column="login_num" property="loginNum" />
        <result column="edition_serial" property="editionSerial" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        device_id AS "deviceId", app_id AS "appId", card_or_user_id AS "cardOrUserId", card_or_user_code AS "cardOrUserCode", card_type AS "cardType", mac AS "mac", ip AS "ip", model AS "model", ip_address AS "ipAddress", login_num AS "loginNum", edition_serial AS "editionSerial", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime"
    </sql>
    <update id="updateDeviceLoginNumByDeviceId">
        update ag_device set login_num = login_num+1,update_time = now() where device_id = #{deviceId}
    </update>

</mapper>
