<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.device.mapper.TokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.device.entity.Token">
        <id column="token_id" property="tokenId" />
        <result column="app_id" property="appId" />
        <result column="card_or_user_id" property="cardOrUserId" />
        <result column="card_or_user_code" property="cardOrUserCode" />
        <result column="card_type" property="cardType" />
        <result column="edition_num" property="editionNum" />
        <result column="mac" property="mac" />
        <result column="ip" property="ip" />
        <result column="model" property="model" />
        <result column="login_num" property="loginNum" />
        <result column="login_time" property="loginTime" />
        <result column="check_time" property="checkTime" />
        <result column="token" property="token" />
        <result column="edition_serial" property="editionSerial" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        token_id AS "tokenId", app_id AS "appId", card_or_user_id AS "cardOrUserId", card_or_user_code AS "cardOrUserCode", card_type AS "cardType", edition_num AS "editionNum", mac AS "mac", ip AS "ip", model AS "model", login_num AS "loginNum", login_time AS "loginTime", check_time AS "checkTime", edition_serial AS "editionSerial", create_user AS "createUser", create_time AS "createTime", update_user AS "updateUser", update_time AS "updateTime"
    </sql>
    <delete id="deleteByCardId">
    DELETE
    FROM
	ag_token
    WHERE
	token_id = (SELECT token_id FROM ag_token WHERE card_or_user_id = #{cardId} ORDER BY create_time ASC LIMIT 1);
    </delete>
    <select id="getLastTokenByCardOrUserId"
            resultType="cn.stylefeng.guns.modular.device.model.result.TokenResult">
        select * from ag_token
        where card_or_user_id = ${cardOrUserId}
        order by create_time DESC
        limit 1
    </select>
    <select id="onlineNum" resultType="java.lang.Integer">
        select count(DISTINCT mac) from ag_token where create_user = #{userId} and date_format(create_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
    </select>

    <select id="getOnlineNum" resultType="java.lang.Integer">
        select count(DISTINCT mac)
        from ag_token
        where app_id = #{appId}
        and TIMESTAMPDIFF(MINUTE,check_time,now()) &lt;= #{limit}
        <if test="edition != null and edition !=''">
            and edition_serial = #{edition}
        </if>
    </select>

</mapper>
